.text-center
  %h2
    Bets

.table-responsive
  %table.table.table-sm.table-striped.bg-light.shadow
    %thead
      %tr
        %th id
        %th Timestamp
        %th Size
        %th User
  
    %tbody
      - @bets.each do |bet|
        %tr
          %td= bet.id
          %td= bet.created_at
          %td= bet.size
          %td= bet.user
