.text-center
  %h2
    = action_name.capitalize
    Roulettes

.card-columns
  - @roulettes.each do |roulette|
    = render 'roulettes/roulette', roulette: roulette

.text-center
  - if action_name == "active"
    = link_to "See History", finished_roulettes_path, class: "btn btn-sm btn-secondary"
  - else
    = link_to "See Active Roulettes", active_roulettes_path, class: "btn btn-sm btn-secondary"
