%h1 Listing shares

%table
  %thead
    %tr
      %th Size
      %th Piggy bank
      %th User

  %tbody
    - @shares.each do |share|
      %tr
        %td= share.size
        %td= share.piggy_bank
        %td= share.user

%br
